@import "../../style/Variables.scss";

.product {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .product-p {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: $text-grey;
  }
  h2 {
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: $purple-bg;
    margin: 10px 0;
  }
  h5 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    margin: 10px 0;
    color: $text-grey;
    font-weight: 400;
    width: 50%;
  }
  button {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px 25px;
    background-color: $green-bg;
    border: 2px solid $green-bg;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    margin: 30px 0;
    &:hover {
      background: transparent;
      color: $green-bg;
      border: 2px solid $green-bg;
    }
  }
}
