@import "../../style/Variables.scss";

.header {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $purple-bg;
  h3 {
    font-size: 24px;
    font-weight: 900;
  }
  .logo {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    .header-logo {
      font-size: 40px;
      color: $purple-bg;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      align-items: center;
      li {
        font-size: 14px;
        font-weight: bold;
        line-height: 26px;
        padding: 0 10px;
        cursor: pointer;
        transition: 0.3s;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.3s;
        &:last-child {
          border: 2px solid $pink-bg;
          background: $pink-bg;
          padding: 8px 16px;
          border-radius: 25px;
          color: white;
          &:hover {
            background: transparent;
            border: 2px solid $pink-bg;
            color: $pink-bg;
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 991px) {
  .header {
    padding: 20px;
    .menu {
      ul {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
  }
}
