@import "../../style/Variables.scss";

.header {
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $purple-bg;
  transition: all 0.3s;
  .logo {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    .header-logo {
      font-size: 40px;
      color: $purple-bg;
    }
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      align-items: center;
      li {
        font-size: 14px;
        font-weight: bold;
        line-height: 26px;
        padding: 0 10px;
        cursor: pointer;
        transition: 0.3s;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.3s;
        &:last-child {
          border: 2px solid $pink-bg;
          background: $pink-bg;
          padding: 8px 16px;
          border-radius: 25px;
          color: white;
          &:hover {
            background: transparent;
            border: 2px solid $pink-bg;
            color: $pink-bg;
          }
        }
      }
    }
    .hamburger-menu {
      display: none;
      cursor: pointer;
    }
  }

  &.sticky {
    position: sticky;
    top: 0;
    background: $purple-bg;
    .logo .header-logo,
    .menu ul li {
      color: white;
    }
    .menu {
      ul li {
        &:hover {
          color: $pink-bg;
        }
        &:last-child {
          &:hover {
            border: 2px solid white;
            color: white;
          }
        }
      }
      .hamburger-menu {
        color: white;
        &:hover {
          color: $pink-bg;
        }
      }
    }
  }
}

.menu-mobile {
  background: $purple-bg;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 80px;
  width: 100%;
  height: 0;
  transition: height 0.4s ease;
  &.show {
    height: 300px;
    padding-top: 10px;
    ul {
      display: block;
    }
  }
  ul {
    list-style: none;
    display: none;
    animation: fadeIn 1s ease;
    li {
      margin: 20px 0;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 600;
      text-align: center;
      &:last-child {
        border: 2px solid $pink-bg;
        background: $pink-bg;
        padding: 8px 16px;
        border-radius: 25px;
        color: white;
        &:hover {
          background: transparent;
          border: 2px solid $pink-bg;
          color: $pink-bg;
        }
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 991px) {
  .header {
    padding: 20px;
    .menu {
      ul {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
  }
}
